@import "tailwindcss";

@theme {
  --font-smalltext: "Calibri", "sans-serif";
}

@theme {
  --color-lightNavy: #64ffda;
  --color-lightGary: #ccd6f6;
  --color-bermuda: #78dcca;
}

/* Infinite horizontal scroll animation */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
  display: flex;
  white-space: nowrap;
  gap: 2rem;
}

.animate-marquee-reverse {
  animation: marquee-reverse 40s linear infinite;
  display: flex;
  white-space: nowrap;
  gap: 2rem;
}

/* Hide scrollbar but keep scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.cursor {
  pointer-events: none;

  &__ball {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    z-index: 1000;

    circle {
      fill: #f7f8fa;
    }
  }
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}
